<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User SingUp Page</title>
</head>
<style>
         body {
            font-family: tahoma, sans-serif;
            margin: 50px;     
            text-align: center;
            
        }
    </style>
<body>

       <h1>Please enter your details to register your self</h1>
      <div>
        <form action="/users/signup" method= "POST">
            <lable>Name:</lable>
            <input type="text" name="name" placeholder="Enter your Namme" required></input>
            <lable>Email:</lable>
            <input type="text" name="email" placeholder="Enter your email" required></input>
            <lable>Password:</lable>
            <input type="password" name="password" placeholder="Enter your Password" required></input>
            <button type="submit">Create</button>       
        </form>
        </div>
    
</body>
</html>