<!doctype html>
<html lang="en">
  <head>
    <%- include('./partials/head')%>
    </head>
    <title>Blogify</title>
  <body>
    <%- include('./partials/navBar')%>
    <%- include('./partials/scripts') %>
       <h1>Hello, world!</h1>
  </body>
</html>